@import "../../mixins/css/basefield.css";

/* input-field */
.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* time-picker */
.input-field > .time-picker {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

/* time-picker:hover */
.input-field > .time-picker:hover {
  opacity: 0.9;
}

/* div:nth-child(1) */
.input-field > .time-picker > div:nth-child(1) {
  width: calc(100% - 50px);
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div:nth-child(1) > input */
.input-field > .time-picker > div:nth-child(1) > input {
  width: calc(100% - 30px);
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  outline: 0;
}

/* div:nth-child(2) */
.input-field > .time-picker > div:nth-child(2) {
  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
} 

/* div:nth-child(2) > img */
.input-field > .time-picker > div:nth-child(2) > img {
  width: 15px;
  height: 15px;
}

/* modal-picker */
.input-field > .modal-picker {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
/* modal-content-picker */
.input-field > .modal-picker > .modal-content-picker {
  background-color: var(--bg-color);
  width: 330px;
  height: 305px;

  border-radius: var(--app-border);
  color: #ffffff
}
/* modal-content-header */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header {
  background-color: var(--bg-ligth-color);
  width: calc(100% - 48px);
  height: 104px;
  padding: 0px 24px;
  border-radius: var(--app-border) var(--app-border) 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* modal-content-header > * */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header > * {
  width: 100%;
}

/* modal-content-header-title */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header > .modal-content-header-title {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* span */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header > .modal-content-header-title > span {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: #fff;
}

/* modal-content-header-text */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header > .modal-content-header-text {
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/* span */
.input-field > .modal-picker > .modal-content-picker > .modal-content-header > .modal-content-header-text > span {
  font-size: 34px;
  font-weight: 400;
  color: #fff;
}

/* .modal-content-body */
/* .modal-content-body */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  height: 150px;
}
/* modal-content-body-input */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 120px;
  padding: 10px;
}

/* modal-content-body-input-label */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-label {
  margin-bottom: 10px;
  color: #ffffff;
}

/* modal-content-body-input-body */
/* modal-content-body-input-body */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body {
  width: 40px;
  height: 110px;
}
/* modal-content-body-input-body-arrow */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-arrow {
  width: 40px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* modal-content-body-input-body-arrow:hover */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-arrow:hover {
  background-color: rgba(0,0,0,0.1);
}
/* modal-content-body-input-body-scroll */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-scroll {
  width: 100%;
  height: 60px;
  overflow: hidden;
}
/* value */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-scroll > .value {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: var(--app-border);
  color: #ffffff;
  cursor: not-allowed;
}
/* value.number */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-scroll > .value.number { }
/* value.number:hover */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-scroll > .value.number:hover {
  background-color: rgba(0,0,0,0.1);
}

/* value.number.selected */
.input-field > .modal-picker > .modal-content-picker > .modal-content-body > .modal-content-body-input > .modal-content-body-input-body > .modal-content-body-input-body-scroll > .value.number.selected {
  background-color: rgba(0,0,0,0.05);
}




/* modal-content-footer */
/* modal-content-footer */
.input-field > .modal-picker > .modal-content-picker > .modal-content-footer {
  height: 50px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* button */
.input-field > .modal-picker > .modal-content-picker > .modal-content-footer > button {
  cursor: pointer;
  border: none;
  background-color: var(--bg-color);
  padding: 10px;
  margin: 0px 20px;
  font-size: 16px;
  border-radius: var(--app-border);
  outline: 0;
  color: rgba(255, 255, 255, 0.7);
}
/* button:hover */
.input-field > .modal-picker > .modal-content-picker > .modal-content-footer > button:hover {
  background-color: rgba(255,255,255, 0.2);
}