@import "../../mixins/css/basefield.css";

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
} .input-field > .text-picker {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
} .input-field > .text-picker > div:nth-child(1) {
  width: calc(100% - 50px);
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
} .input-field > .text-picker > div:nth-child(1) > input {
  width: calc(100% - 30px);
  font-size: 20px;
  padding: 5px 15px;
  border: none;
} .input-field > .text-picker > div:nth-child(1) > input:focus {
  outline: 0;
} .input-field > .text-picker > div:nth-child(2) {
  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
} .input-field > .text-picker > div:nth-child(2) > img {
  width: 20px;
  height: 20px;

  cursor: pointer;
} .input-field > .text-picker > div:nth-child(2) > img:hover {
  opacity: 0.6;
}

